@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 90%;
    margin: 90px auto;
}
.container {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    border-radius: 20px;
    box-shadow:  10px 15px 80px rgba(0, 0, 0, 0.25);
    transition: .5s ease;
}
.container:hover {
    transform: translate(0, -10px);
}
.hero-title h2 {
    color: #333;
}

.hero-text {
    margin-top: 20px;
}

.item {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin: 0.8em;
}
.hero-title h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #007bff;
}
.hero-text .text-h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    line-height: 3px;
    text-transform: uppercase;
}

.item input {
    flex: 1;
    padding: 0.8em;
    margin-right: 10px;
    margin: 0.5em;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 2px 2px 2px #00000066, 2px 2px 2px #ffffff66;
    margin-top: 1em;
}
#totalAmount {
    color: #fff;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
    letter-spacing: 1px;
    font-weight: 300;
}
button:hover {
    transform: scale(0.9);
}

#totalAmount {
    margin-top: 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .item input {
        flex: 0.7;
    }
}
@media (max-width: 400px) {
    .item input {
        flex: 0.7;
    }
    .item {
        flex-direction: column;
    }
    .hero-title h2 {
        font-size: 2rem;
    }
}
img {
    height: 100% auto;
    width: 100%;
    max-width: 150px;
    margin-top: 1em;
}
.text-h2:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
  .text-h2:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }